<div class="container__main__card">
    <div class="main__card__picture">
        <img 
        src="https://testing-angular.com/assets/img/code-coverage-flickr-search.png"
        alt=""
        height="200px">
    </div>
    <div class="main__card__title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="main__card__description">
        <p>
            <a href="">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto eaque sit, assumenda alias possimus nihil. Quod laborum natus rerum doloribus laudantium, similique dolore 
            </a>
        </p>
    </div>
</div>